name: MSBuild
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  SOLUTION_FILE_PATH: VolkDMA.sln
  BUILD_CONFIGURATION: Release
permissions:
  contents: read
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2
    - name: Restore NuGet packages
      run: nuget restore ${{ env.SOLUTION_FILE_PATH }}
    - name: Build solution
      run: msbuild ${{ env.SOLUTION_FILE_PATH }} /m /p:Configuration=${{ env.BUILD_CONFIGURATION }} /p:Platform=x64
    - name: Verify build output
      run: Get-ChildItem -Path "VolkDMA\x64\${{ env.BUILD_CONFIGURATION }}" -Name
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: VolkDMA-StaticLib
        path: VolkDMA/x64/${{ env.BUILD_CONFIGURATION }}/VolkDMARelease.lib
